*{
  padding: 0;
  margin: 0;
}


body{
  font-size: 17px;
}

.main-div{
  max-width: 60%;
  margin: auto;
  /* background-color: rgb(49, 216, 216); */
}

nav, .lfic{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fnt-div{
  margin-right: 20px;
}

.tlgg {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.tlgg input {
  opacity: 0;
  width: 0;
  height: 0;
}

.tgg-sli {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 17px;
}

.tgg-sli:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .tgg-sli {
  background-color: #a745ed;
}
input:checked + .tgg-sli:before {
  transform: translateX(13px);
}

.inp-div{
  /* background-color: blue; */
  display: flex;
  padding: 10px;
  position: relative;
}
.inp-div input{
  flex: 1;
  font-size: 20px;
  outline: none;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background-color: #ffd6fea9;
}

.s-ic{
  position: absolute;
  right: 27px;
  top: 20px;
  /* background-color: #660374; */
}

#word{
  font-size: 40px;
  margin-top: 20px;
}

.wdph, .exptxt{
  margin: 0 0 20px 0;
}

.pos{
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 32px 0;
}


hr{
  /* position: absolute;
  top: 12px;
  right: 0;
  left: 60px; */
  display: inline;
  flex: 1;
  height: 0px;
  border: 1px solid #b4b4b44d;
  /* background-color: #94939348; */
}

.meantxt{
  margin: 0 0 20px 0;
  font-size: 18px;
}

.meantxt, .exptxt, .synh{
  color: #9f9f9f;
}

.ulist, .exptxt{
  padding: 0 0 5px 35px;
}

.ulist li{
  margin: 0 0 6px 0;
  line-height: 22px;
}

.synh{
  margin: 0 10px 0 0;
}
.syntx{
  font-weight: bold;
  color: #b485d4;
}
#dark{
  display: none;
}

.syncl{
  margin-top: 25px;
}

.err{
  font-size: 30px;
  text-align: center;
  color: #9f9f9fb0;
  margin-top: 30%;
}

#fonts{
  width: 100px;
  font-size: 18px;
  background-color: #bbbbbb6e;
  border: none;
  outline: none;
  padding: 3px;
  border-radius: 5px;
}

/* meda query */

@media(max-width: 1330px){
  .main-div{
    max-width: 75%;
  }
}

@media(max-width: 520px){
  .main-div{
    max-width: 95%;
  }
}